@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"),
    url("Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Regular-102.otf") format("truetype");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible Italic"),
    url("Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
    url("Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Italic-102.otf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible Bold"),
    url("Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-Bold-102.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible Bold Italic"),
    url("Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
    url("Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("Atkinson-Hyperlegible-BoldItalic-102.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Anonymous Pro Minus";
  src: local("Anonymous Pro Minus"),
    url("Anonymous Pro Minus.ttf") format("truetype");
}

@font-face {
  font-family: "Anonymous Pro Minus";
  src: local("Anonymous Pro Minus Italic"),
    url("Anonymous Pro Minus I.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Anonymous Pro Minus";
  src: local("Anonymous Pro Minus Bold"),
    url("Anonymous Pro Minus B.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Anonymous Pro Minus";
  src: local("Anonymous Pro Minus Bold Italic"),
    url("Anonymous Pro Minus BI.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
