:root {
  color-scheme: light dark;

  --Bg: white;
  --Fg: rgb(28, 28, 30);
  --Blue: rgb(0, 122, 255);
  --Green: rgb(52, 199, 89);
  --Indigo: rgb(88, 86, 214);
  --Orange: rgb(255, 149, 0);
  --Pink: rgb(255, 45, 85);
  --Purple: rgb(175, 82, 222);
  --Red: rgb(255, 59, 48);
  --Teal: rgb(90, 200, 250);
  --Yellow: rgb(255, 204, 0);
  --Gray: rgb(142, 142, 147);
  --Gray-2: rgb(174, 174, 178);
  --Gray-3: rgb(199, 199, 204);
  --Gray-4: rgb(209, 209, 214);
  --Gray-5: rgb(229, 229, 234);
  --Gray-6: rgb(242, 242, 247);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Bg: black;
    --Fg: rgb(242, 242, 247);
    --Blue: rgb(10, 132, 255);
    --Green: rgb(48, 209, 88);
    --Indigo: rgb(94, 92, 230);
    --Orange: rgb(255, 159, 10);
    --Pink: rgb(255, 55, 95);
    --Purple: rgb(191, 90, 242);
    --Red: rgb(255, 69, 58);
    --Teal: rgb(100, 210, 255);
    --Yellow: rgb(255, 214, 10);
    --Gray: rgb(142, 142, 147);
    --Gray-2: rgb(99, 99, 102);
    --Gray-3: rgb(72, 72, 74);
    --Gray-4: rgb(58, 58, 60);
    --Gray-5: rgb(44, 44, 46);
    --Gray-6: rgb(28, 28, 30);
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6,
h7 {
  font-size: 1em;
}

p,
ul,
ol,
pre,
table {
  margin: 1.5em 0;
}

pre,
code,
tt {
  font-family: "Courier New", "Songti SC", SimSun, monospace;
}

pre {
  max-width: 100%;
  font-size: 80%;
  line-height: 150%;
  overflow-x: auto;
  word-break: normal;
}

blockquote {
  margin-left: -1em;
  padding-left: 1em;
  border-left: 3px solid var(--Gray-6);
}

a {
  text-decoration: none;
}

html,
body,
#toc li span {
  background: var(--Bg);
}

html,
body {
  color: var(--Fg);
}

body {
  font: 1.25em/2 Baskerville, Georgia, "Songti SC", SimSun, serif;
  hanging-punctuation: first;
  word-break: break-word;
}

a:link {
  color: var(--Blue);
}

a:visited {
  color: var(--Purple);
}

footer a:visited {
  color: var(--Blue);
}

a:hover,
a:active {
  text-decoration: underline;
}

a:active {
  color: var(--Red);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: var(--Gray-5);
}

th,
td {
  padding: 0 10px;
  border: 1px solid var(--Gray-5);
}

.wf-notoserifcjksc-n4-active.wf-notoserifcjksc-n8-active.wf-ebgaramond-n4-active.wf-ebgaramond-n7-active.wf-active
  body {
  font-family: "EB Garamond", Georgia, "Noto Serif CJK SC", "Songti SC", SimSun,
    serif;
}

.wf-anonymousprominus-n4-active pre,
.wf-anonymousprominus-n4-active code,
.wf-anonymousprominus-n4-active tt {
  font-family: "Anonymous Pro Minus", "Noto Serif CJK SC", monospace;
}

header,
main,
footer {
  max-width: 35em;
  margin: 0 auto;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
}

header {
  padding-top: calc(env(safe-area-inset-top) + 60px);
}

footer {
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

footer span {
  display: inline-flex;
  align-items: center;
}

footer span:after {
  content: " ◆ ";
  display: inline-block;
  margin: 0 10px;
  color: var(--Gray);
  font-size: 0.5em;
}

footer span:last-child:after {
  content: "";
}

#toc header,
#four04 header {
  margin-top: 40px;
}

#toc h1,
#four04 h1 {
  font-size: 4em;
}

#toc header p {
  margin: 0;
  line-height: 1.7em;
}

#toc ul {
  list-style: none;
  overflow-x: hidden;
}

#toc li {
  position: relative;
  margin: 0.5em 0;
}

#toc li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  color: var(--Gray-5);
}

#toc li span:first-child {
  padding-right: 0.33em;
}

#toc li span:last-child {
  position: absolute;
  right: 0;
  padding-left: 0.33em;
  color: var(--Gray);
}

#post ul,
#post ol {
  margin-left: 1.5em;
}

#post main:after,
#toc main:before {
  display: block;
  content: "❦";
  color: gray;
}

#post main:after {
  text-align: center;
}

#post header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  text-align: center;
}

#post header h1 {
  line-height: 1.2em;
}

#post header p {
  margin-top: 2em;
  font-size: 0.75em;
}

#post header p,
#post header p a {
  color: var(--Gray);
}

#post header p:before {
  content: "☙ ";
}

#post header p:after {
  content: " ❧";
}

#post h2,
#post h3 {
  line-height: 1;
  margin-top: 3em;
}

#post h2:nth-child(1) {
  margin-top: 0;
}

#post h2 {
  text-align: center;
}

#post h3,
#post pre {
  margin-left: 2em;
}

#post main p {
  text-indent: 2em;
}

#post main ul,
#post main ol,
#post main table {
  margin-left: 2em;
}

#post main li::marker {
  color: var(--Gray);
}

#post img {
  max-width: 100%;
  max-width: calc(100% - 2em);
}

.intro {
  margin: 1em 0 2em 0;
  font-size: 0.75em;
  color: var(--Gray);
}

.intro img {
  float: right;
  width: 128px;
  margin-left: 1em;
}

.no-webfont body {
  font-family: -apple-system-body, sans-serif;
}

.no-webfont h1,
.no-webfont h2,
.no-webfont h3,
.no-webfont h4,
.no-webfont h5,
.no-webfont h6,
.no-webfont h7 {
  font-family: -apple-system-headline, sans-serif;
}

.hljs-comment,
.hljs-quote {
  color: var(--Gray);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--Red);
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--Orange);
}

.hljs-attribute {
  color: var(--Yellow);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--Indigo);
}

.hljs-title,
.hljs-section {
  color: var(--Blue);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--Purple);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: var(--Bg);
  color: var(--Fg)
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
