:root {
  color-scheme: light dark;

  --Bg: white;
  --Fg: rgb(28, 28, 30);
  --Blue: rgb(0, 122, 255);
  --Green: rgb(52, 199, 89);
  --Indigo: rgb(88, 86, 214);
  --Orange: rgb(255, 149, 0);
  --Pink: rgb(255, 45, 85);
  --Purple: rgb(175, 82, 222);
  --Red: rgb(255, 59, 48);
  --Teal: rgb(90, 200, 250);
  --Yellow: rgb(255, 204, 0);
  --Gray: rgb(142, 142, 147);
  --Gray-2: rgb(174, 174, 178);
  --Gray-3: rgb(199, 199, 204);
  --Gray-4: rgb(209, 209, 214);
  --Gray-5: rgb(229, 229, 234);
  --Gray-6: rgb(242, 242, 247);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Bg: black;
    --Fg: rgb(242, 242, 247);
    --Blue: rgb(10, 132, 255);
    --Green: rgb(48, 209, 88);
    --Indigo: rgb(94, 92, 230);
    --Orange: rgb(255, 159, 10);
    --Pink: rgb(255, 55, 95);
    --Purple: rgb(191, 90, 242);
    --Red: rgb(255, 69, 58);
    --Teal: rgb(100, 210, 255);
    --Yellow: rgb(255, 214, 10);
    --Gray: rgb(142, 142, 147);
    --Gray-2: rgb(99, 99, 102);
    --Gray-3: rgb(72, 72, 74);
    --Gray-4: rgb(58, 58, 60);
    --Gray-5: rgb(44, 44, 46);
    --Gray-6: rgb(28, 28, 30);
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6,
h7 {
  font-size: 1em;
}

p,
ul,
ol,
pre,
table {
  margin: 1.5em 0;
}

pre,
code,
tt {
  font-family: 'SF Mono', Menlo, 'Cascadia Code', Consolas, monospace;
  hanging-punctuation: none;
}

pre {
  max-width: 100%;
  line-height: 150%;
  overflow-x: auto;
}

blockquote {
  margin-left: -1em;
  padding-left: 1em;
  border-left: 3px solid var(--Gray-6);
}

a {
  text-decoration: none;
}

html,
body {
  font-size: 16pt;
}

html,
body,
#toc li span {
  background: var(--Bg);
}

body {
  color: var(--Fg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2;
  hanging-punctuation: first;
  word-break: break-word;
}

a:link {
  color: var(--Blue);
}

a:visited {
  color: var(--Purple);
}

footer a:visited {
  color: var(--Blue);
}

a:hover,
a:active {
  text-decoration: underline;
}

a:active {
  color: var(--Red);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: var(--Gray-5);
}

th,
td {
  padding: 0 10px;
  border: 1px solid var(--Gray-5);
}

.wf-atkinsonhyperlegible-n4-active body {
  font-family: 'Atkinson Hyperlegible', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wf-anonymousprominus-n7-active pre,
.wf-anonymousprominus-n7-active code,
.wf-anonymousprominus-n7-active tt {
  font-family: "Anonymous Pro Minus", SimSong, "Songti SC", SimSun, monospace;
}

header,
main,
footer {
  max-width: 35em;
  display: block; /*IE 11*/
  margin: 0 auto;
  padding-left: 20px;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: 20px;
  padding-right: calc(env(safe-area-inset-right) + 20px);
}

header {
  padding-top: 60px;
  padding-top: calc(env(safe-area-inset-top) + 60px);
}

footer {
  padding-bottom: 20px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

footer span {
  display: inline-flex;
  align-items: center;
}

footer span:after {
  content: " ◆ ";
  display: inline-block;
  margin: 0 10px;
  color: var(--Gray);
  font-size: 0.5em;
}

footer span:last-child:after {
  content: "";
}

#toc header,
#four04 header {
  margin-top: 40px;
}

#toc h1,
#four04 h1 {
  font-size: 4em;
}

#toc h1 {
  line-height: 1;
}

#toc header p {
  margin: 1rem 0;
  line-height: 1.7em;
}

#toc ul {
  list-style: none;
  overflow-x: hidden;
  margin: 0 0 0 -1em;
  padding-left: 1em;
}

#toc li {
  position: relative;
  margin: 0.5em 0;
  padding-right: 5rem;
}

#toc li:before {
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  color: var(--Gray-5);
}

#toc li span:first-child {
  position: relative;
  z-index: 1;
  padding-right: 0.33em;
}

#toc li span:last-child {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  padding-left: 0.33em;
  color: var(--Gray);
}

#post ul,
#post ol {
  margin-left: 1.5em;
}

#post header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
  padding-top: calc(env(safe-area-inset-top) + 10px);
  border-bottom: 1px solid var(--Gray-5);
  line-height: 1;
}

#post header h1 {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

#post header h1,
#post header section {
  padding-bottom: 10px;
}

#post header h1 a {
  color: var(--Fg);
}

#post header section a,
#toc header section a {
  color: var(--Gray);
}

#post header a:hover,
#toc header section a:hover {
  color: var(--Blue);
  text-decoration: none;
}

#post header section {
  font-size: 0.8rem;
}

#post header section span,
#toc header section span {
  margin-right: 1rem;
  white-space: nowrap;
}

#post header section span:last-child {
  margin-right: 0;
}

#post main:after,
#toc main:before {
  display: block;
  font-family: sans-serif;
  content: "❦";
  color: gray;
}

#toc main {
  margin-top: 1rem;
}

#toc main h2 {
  margin-top: 40px;
}

#post main:after {
  text-align: center;
}

#post main h1 {
  margin-top: 3rem;
  text-align: center;
  line-height: 1.2em;
}

#post .meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.75em;
}

#post .meta,
#post .mata a {
  color: var(--Gray);
}

#post .meta time,
#post .meta ul {
  display: block;
  margin: 0 0.5rem;
}

#post .meta time {
  white-space: nowrap;
}

#post main time:before,
#post main time:after,
#post main .tags li:before {
  color: var(--Gray-5);
}

#post main time:before,
#post main time:after {
  font-family: sans-serif;
}

#post main time:before {
  content: "❖ ";
}

#post main time:after {
  content: " ❖";
}

#post main .tags {
  text-align: center;
  color: var(--Gray-2);
}

#post main .tags li {
  list-style: none;
  display: inline;
  margin-right: 0.5rem;
}

#post main .tags li:before {
  content: "＃";
}

#post h2,
#post h3 {
  line-height: 1;
  margin-top: 3rem;
}

#post main h2,
#post main h3 {
  margin-left: 2rem;
}

#post main p {
  text-indent: 2rem;
}

#post main pre {
  margin-left: 1rem;
  margin-right: -1rem;
  padding: 0 1rem;
}

#post main ul,
#post main ol,
#post main table {
  margin-left: 2rem;
}

#post main li::marker {
  color: var(--Gray);
}

#post img {
  max-width: 100%;
  max-width: calc(100% - 2em);
}

.intro {
  margin: 1em 0 2em 0;
  font-size: 0.75em;
  color: var(--Gray);
}

.intro img {
  float: right;
  width: 128px;
  margin-left: 1em;
}

.no-webfont body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "PingFang SC",
    "Microsoft Yahei", sans-serif;
}

.no-webfont h1,
.no-webfont h2,
.no-webfont h3,
.no-webfont h4,
.no-webfont h5,
.no-webfont h6,
.no-webfont h7 {
  font-family: -apple-system-headline, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "PingFang SC",
    "Microsoft Yahei", sans-serif;
}

.no-webfont pre,
.no-webfont code,
.no-webfont tt {
  font-family: Menlo, Consolas, "PingFang SC", "Microsoft Yahei", monospace;
}

.hljs-comment,
.hljs-quote {
  color: var(--Gray);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--Red);
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--Orange);
}

.hljs-attribute {
  color: var(--Yellow);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--Indigo);
}

.hljs-title,
.hljs-section {
  color: var(--Blue);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--Purple);
}

.hljs {
  background: var(--Bg);
  color: var(--Fg);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
