* {
  margin: 0;
  padding: 0;
}

body {
  word-break: break-word;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6,
h7 {
  font-size: 1em;
}

p,
ul,
ol,
table {
  margin: 1.5em 0;
}

pre,
code,
tt {
  font-family: "Courier Prime Sans", "Courier Prime Code", "SF Mono", Menlo,
    Consolas, monospace;
}

pre {
  max-width: 100%;
  font-size: 0.75em;
  overflow-x: auto;
  word-break: normal;
}

blockquote {
  padding-left: 1em;
  border-left: 3px solid #f1f1f1;
}

a {
  text-decoration: none;
}

body,
#toc li span {
  background: #fff;
}

body,
#toc li a {
  color: #000;
}

a,
a:visited,
#toc li span:first-child {
  color: #3a84b3;
}

a:hover {
  text-decoration: underline;
}

body {
  font: 1.5em/2 Baskerville, Georgia, STSong, SimSun, serif;
  hanging-punctuation: first;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #ececec;
}

th, td {
  padding: 0 10px;
  border: 1px solid #ccc;
}

.wf-librebaskerville-n7-active body {
  font-family: "EB Garamond", Baskerville, Georgia, STSong, SimSun, serif;
}

.wf-notoserifcjksc-n8-active body {
  font-family: "EB Garamond", Baskerville, Georgia, "Noto Serif CJK SC", STSong,
    SimSun, serif;
}

header,
main,
footer {
  max-width: 35em;
  margin: 0 auto;
  padding: 20px;
}

footer span:after {
  content: " ◆ ";
  margin: 0 10px;
  color: #ccc;
  font-size: 0.5em;
}

footer span:last-child:after {
  content: "";
}

#toc header,
#four04 header {
  margin-top: 40px;
}

#toc h1,
#four04 h1 {
  font-size: 4em;
}

#toc header p {
  margin: 0;
  line-height: 1.7em;
}

#toc header,
#toc main,
#toc footer {
  padding-left: 0.5em;
  padding-right: 0;
  overflow-x: hidden;
}

#toc ul {
  list-style: none;
}

#toc li {
  margin: 0.5em 0;
}

#toc li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  color: #ccc;
}

#toc li span:first-child {
  padding-right: 0.33em;
}

#toc li span:last-child {
  float: right;
  padding-left: 0.33em;
  color: #ccc;
}

#post ul,
#post ol {
  margin-left: 1.5em;
}

#post main:after {
  content: "❦";
  color: #ccc;
}

#post header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  text-align: center;
}

#post header h1 {
  line-height: 1.2em;
}

#post header p {
  order: -1;
  margin: 0;
  font-size: 0.75em;
}

#post header p,
#post header p a {
  color: #ccc;
}

#post header p:before {
  content: "☙";
}

#post header p:after {
  content: "❧";
}

#post h2,
#post h3 {
  line-height: 1;
  margin-top: 3em;
}

#post img {
  max-width: 100%;
}

.intro {
  margin: 1em 0 2em 0;
  font-size: 0.75em;
  color: #999;
}

.intro img {
  float: right;
  width: 128px;
  margin-left: 1em;
}

.no-webfont body {
  font-family: -apple-system-body, sans-serif;
}

.no-webfont h1,
.no-webfont h2,
.no-webfont h3,
.no-webfont h4,
.no-webfont h5,
.no-webfont h6,
.no-webfont h7 {
  font-family: -apple-system-headline, sans-serif;
}

.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

.hljs-attribute {
  color: #eab700;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
